<launch>
	<arg name="launcher" 		default="stopper" />

	<node pkg="stop"	type="stop_trigger"	output="screen" name="stopTrigger_$(arg launcher)"	 required="true">
		<param name="stop_topic" 	value="/stop/shutdown"/>
	</node>


	<node pkg="stop"	type="stop_listener"	output="screen" name="stopListener_$(arg launcher)"	 required="true">
		<param name="stop_topic" 	value="/stop/shutdown"/>
	</node>

</launch>
